global
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon
    stats socket /var/lib/haproxy/stats
    tune.ssl.default-dh-param 2048

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option                  http-server-close
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000
    http-errors myerrors
    errorfile 503 /etc/haproxy/errors/503.http

frontend mywebapp
  bind *:80
  bind *:443 crt-ignore-err all ssl crt /etc/haproxy/certs/haproxy.pem
  option tcplog
  mode http
  errorfiles myerrors
  http-response return status 503 default-errorfiles if { status 503 }
  use_backend jira         if { hdr(host) -m dom jira.internal }
  use_backend grafana      if { hdr(host) -m dom grafana.internal }
  use_backend prometheus   if { hdr(host) -m dom prometheus.internal }
  use_backend nodered      if { hdr(host) -m dom nodered.internal }
  use_backend pgadmin      if { hdr(host) -m dom pgadmin.internal }

  default_backend default_web

cache jiracache
   total-max-size 4095
   max-object-size 1024
   max-age 240

backend default_web
  mode http
  server def1 nodered:1880

backend jira
  mode http
  http-request cache-use jiracache
  http-response cache-store jiracache
  cookie SERVER insert indirect domain jira.internal
  cookie JSESSIONID prefix domain jira.internal
  option httpchk
  http-check send meth GET  uri /status
  server jira jira:8080 check inter 2s  fall 1  rise 10 cookie jira

backend grafana
  mode http
  server grafana grafana:3000 check

backend prometheus
  mode http
  server prometheus prometheus:9090 check

backend nodered
  mode http
  server nodered nodered:1880 check

backend pgadmin
  mode http
  server pgadmin pgadmin:5050 check

